<section class="px-4 py-8">
    <div class="mx-auto container">
      <div class="relative">
        
        <div class="flex justify-center gap-4 overflow-x-auto scroll-smooth">
         
          <div class="relative rounded-sm min-w-[300px] md:min-w-0 h-64 overflow-hidden product-category">
            <img 
            src="/public/imagenes/oro/23.anillo1.jpg"  
              alt="Oro" 
              class="w-full h-full object-cover"
            />
            <div class="right-0 bottom-0 left-0 absolute bg-gradient-to-t from-black/40 to-transparent p-4">
              <h3 class="font-serif text-white text-xl">Oro</h3>
              <a href="/category/oro" class="flex items-center mt-1 text-white">
                Explore
                <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
              </a>
            </div>
          </div>
          
          <div class="relative rounded-sm min-w-[280px] md:min-w-0 h-64 overflow-hidden product-category">
            <img 
              src="/public/imagenes/plata/14.anillo_p1.jpg" 
              alt="Plata" 
              class="w-full h-full object-cover"
            />
            <div class="right-0 bottom-0 left-0 absolute bg-gradient-to-t from-black/40 to-transparent p-4">
              <h3 class="font-serif text-white text-xl">Plata</h3>
              <a href="/category/plata" class="flex items-center mt-1 text-white">
                Explore
                <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
              </a>
            </div>
          </div>
          
          <div class="relative rounded-sm min-w-[280px] md:min-w-0 h-64 overflow-hidden product-category">
            <img 
              src="/public/imagenes/bisuteria/38.bisu.jpg"  
              alt="Resina" 
              class="w-full h-full object-cover"
            />
            <div class="right-0 bottom-0 left-0 absolute bg-gradient-to-t from-black/40 to-transparent p-4">
              <h3 class="font-serif text-white text-xl">Bisuteria</h3>
              <a href="/category/bisuteria" class="flex items-center mt-1 text-white">
                Explore
                <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        
  
      </div>
    </div>
  </section>