<section class="relative overflow-hidden">
  <div class="relative w-full h-96"> 
    <img 
      src="/public/conchas.jpg" 
      alt="" 
      class="absolute inset-0 w-full h-full object-cover"
    />

    <!-- Contenedor del texto superpuesto -->
    <div class="top-0 right-0 absolute flex justify-end items-center p-2 w-full md:w-2/5 h-full">
      <div class="max-w-md text-white">
        <h2 class="mb-4 font-serif text-3xl md:text-4xl lg:text-5xl">Summer Kiss collection</h2>
        <p class="mb-6">Descubre nuestra nueva colección de verano</p>
        <a 
          href="/shop" 
          class="inline-block bg-white hover:bg-gray-200 px-6 py-3 text-black text-center transition duration-300"
        >
          SHOP NOW
        </a>
      </div>
    </div>
  </div>
</section>
